@font-face {
  font-family: 'iconfont';  /* project id 1735890 */
  src: url('//at.alicdn.com/t/font_1735890_tjko9rreko.eot');
  src: url('//at.alicdn.com/t/font_1735890_tjko9rreko.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1735890_tjko9rreko.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1735890_tjko9rreko.woff') format('woff'),
  url('//at.alicdn.com/t/font_1735890_tjko9rreko.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1735890_tjko9rreko.svg#iconfont') format('svg');
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654176406822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e605";
}

